<!-- Page Title -->
<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>World's Biggest Database of Work from home Jobs !</h3>
            <!--  -->
         
        </div>
    </div>
</div>

<!-- Jobs -->
<div class="jobs-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="jend-grid-sorting row align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-5 result-count">
                        <p>Showing {{arraySize}} results</p>
                    </div>
                    <!-- <div class="col-lg-6 col-md-6 col-sm-7 ordering">
                        <div class="select-box">
                            <label>Sort By:</label>
                            <select>
                                <option>Default</option>
                                <option>Popularity</option>
                                <option>Latest</option>
                                <option>Price: low to high</option>
                                <option>Price: high to low</option>
                            </select>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

                <div class="row">
                    <div  class="col-lg-8 col-sm-6 col-md-6" >
                        <div class="job-card" *ngFor = "let job of objToArray">
                            <div class="content">
                                
                                <div class="job-image">
                                    <a (click)="idPass(job[1].id)" routerLink="/jobs/details">
                                        <img src="assets/images/job/job1.jpg" alt="job-image">
                                    </a>
                                </div>
                                
                                <h3> <a (click)="idPass(job[1].id)" routerLink="/jobs/applicants"> {{ job[1].job_title }}</a></h3>
                                <ul class="job-list1" style="font-size: medium;">

                                    <li><i class="ri-briefcase-line"></i> {{job[1].career_level}}</li>
                                    <li><i class="ri-time-line"></i> {{job[1].deadline}}</li>
                                    <li><i class="ri-award-line"></i> {{job[1].experience}} Years</li>
                                
                                    <!-- <li><i class="ri-arrow-right-s-fill"></i> {{job[1].qualification}}</li> -->
                                    <li><i class="ri-profile-line"></i> {{job[1].job_type}} </li>
                                    <!-- <li><i class="ri-arrow-right-s-fill"></i> {{job[1].allowed_genders}} </li> -->
                                
                                    <li><i class="ri-medal-2-line"></i> {{job[1].job_category}} </li>
                                    <li><i class="ri-video-line"></i> <a href="{{job[1].introduction_video_url}}">Video Url</a> </li>
                                    <li><i class="ri-hashtag"></i> {{job[1].job_tags}} </li>
                                    <!-- <li><i class="ri-map-pin-line"></i> {{job[1].office_address}}, {{job[1].location}}</li> -->
                                    <hr style="display:flex;">
                                    <li style="text-align:right;margin-right: 400px"><i class="ri-wallet-line"></i> {{job[1].salary_minimum}} - {{job[1].salary_maximum}} / {{job[1].salary_type}} </li>
                                    <a
                                        (click)="idPass(job[1].id)"
                                        routerLink="/jobs/edit"
                                    >
                                        <li>
                                            <i class="ri-pencil-line"></i>Edit
                                        </li></a
                                    >
                                </ul>


                                <!-- <div class="price" style="text-align: right;"> <i class="ri-wallet-line"></i> {{job[1].salary_minimum}} - {{job[1].salary_maximum}} / {{job[1].salary_type}}</div> -->
                            </div>
                            
                            
                            <!-- <div class="job-sub-content">
                                <ul class="job-list2">
                                    
                                    <div *ngIf = "job[1]._job_type === Freelance">
                                        <li class="freelance">Freelance</li>
                                    </div> 

                                    <div *ngIf = "job[1]._job_type === Freelance">
                                        <li class="freelance">Freelance</li>
                                    </div>

                                    <li class="time">Full Time</li>
                                    
                                    <li class="urgent">Urgent</li>
                                </ul>
                            </div> -->
                            <!-- <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button> -->
                        </div>
                        
                    </div>
                   
                </div>
    </div>
</div>

<!-- <div class="col-lg-12 col-sm-6 col-md-6">
                    
                        <div class="job-card">
                            <div class="content">
                                <div class="job-image">
                                    <a routerLink="/job-details">
                                        <img src="assets/images/job/job2.jpg" alt="job-image">
                                    </a>
                                </div>
                                <h3><a routerLink="/job-details">Creative Director</a></h3>
                                <ul class="job-list1">
                                    <li><i class="ri-briefcase-line"></i> Automotive Jobs</li>
                                    <li><i class="ri-time-line"></i> 2 Hour Ago</li>
                                </ul>
                                <span><i class="ri-map-pin-line"></i> 105 San Antonio, TX</span>
                            </div>
                            <div class="job-sub-content">
                                <ul class="job-list2">
                                    <li class="time">Full Time</li>
                                    <li class="freelance">Freelance</li>
                                </ul>
                                <div class="price">$120 - $140 <span>/Per Week</span></div>
                            </div>
                            <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 col-md-6">
                        <div class="job-card">
                            <div class="content">
                                <div class="job-image">
                                    <a routerLink="/job-details">
                                        <img src="assets/images/job/job3.jpg" alt="job-image">
                                    </a>
                                </div>
                                <h3><a routerLink="/job-details">General Ledger Accountant</a></h3>
                                <ul class="job-list1">
                                    <li><i class="ri-briefcase-line"></i> Accounting  & Finance</li>
                                    <li><i class="ri-time-line"></i> 1 Day Ago</li>
                                </ul>
                                <span><i class="ri-map-pin-line"></i> 320 Los Angeles, CA</span>
                            </div>
                            <div class="job-sub-content">
                                <ul class="job-list2">
                                    <li class="time">Full Time</li>
                                    <li class="freelance">Freelance</li>
                                    <li class="internship">Internship</li>
                                </ul>
                                <div class="price">$120 - $140 <span>/Per Week</span></div>
                            </div>
                            <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 col-md-6">
                        <div class="job-card">
                            <div class="content">
                                <div class="job-image">
                                    <a routerLink="/job-details">
                                        <img src="assets/images/job/job4.jpg" alt="job-image">
                                    </a>
                                </div>
                                <h3><a routerLink="/job-details">Finance Manager & Health </a></h3>
                                <ul class="job-list1">
                                    <li><i class="ri-briefcase-line"></i> Medical & Health</li>
                                    <li><i class="ri-time-line"></i> 5 Days Ago</li>
                                </ul>
                                <span><i class="ri-map-pin-line"></i> 320 Atlanta, GA</span>
                            </div>
                            <div class="job-sub-content">
                                <ul class="job-list2">
                                    <li class="time">Full Time</li>
                                    <li class="freelance">Freelance</li>
                                    <li class="urgent">Urgent</li>
                                </ul>
                                <div class="price">$30 - $40 <span>/Per Hour</span></div>
                            </div>
                            <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 col-md-6">
                        <div class="job-card">
                            <div class="content">
                                <div class="job-image">
                                    <a routerLink="/job-details">
                                        <img src="assets/images/job/job5.jpg" alt="job-image">
                                    </a>
                                </div>
                                <h3><a routerLink="/job-details">Group Marketing Manager</a></h3>
                                <ul class="job-list1">
                                    <li><i class="ri-briefcase-line"></i> Customer</li>
                                    <li><i class="ri-time-line"></i> 3 Days Ago</li>
                                </ul>
                                <span><i class="ri-map-pin-line"></i> 305 Hicks St Brooklyn, NY</span>
                            </div>
                            <div class="job-sub-content">
                                <ul class="job-list2">
                                    <li class="time">Full Time</li>
                                    <li class="freelance">Freelance</li>
                                    <li class="urgent">Urgent</li>
                                </ul>
                                <div class="price">$30 - $40 <span>/Per Hour</span></div>
                            </div>
                            <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 col-md-6">
                        <div class="job-card">
                            <div class="content">
                                <div class="job-image">
                                    <a routerLink="/job-details">
                                        <img src="assets/images/job/job6.jpg" alt="job-image">
                                    </a>
                                </div>
                                <h3><a routerLink="/job-details">iOS Developer</a></h3>
                                <ul class="job-list1">
                                    <li><i class="ri-briefcase-line"></i> IT Agency</li>
                                    <li><i class="ri-time-line"></i> 1 Days Ago</li>
                                </ul>
                                <span><i class="ri-map-pin-line"></i> Los Angeles, CA</span>
                            </div>
                            <div class="job-sub-content">
                                <ul class="job-list2">
                                    <li class="time">Full Time</li>
                                    <li class="freelance">Freelance</li>
                                </ul>
                                <div class="price">$20 - $30 <span>/Per Hour</span></div>
                            </div>
                            <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 col-md-6">
                        <div class="job-card">
                            <div class="content">
                                <div class="job-image">
                                    <a routerLink="/job-details">
                                        <img src="assets/images/job/job7.jpg" alt="job-image">
                                    </a>
                                </div>
                                <h3><a routerLink="/job-details">Flutter Developer</a></h3>
                                <ul class="job-list1">
                                    <li><i class="ri-briefcase-line"></i> HiboTheme</li>
                                    <li><i class="ri-time-line"></i> 2 Days Ago</li>
                                </ul>
                                <span><i class="ri-map-pin-line"></i> New York, USA</span>
                            </div>
                            <div class="job-sub-content">
                                <ul class="job-list2">
                                    <li class="time">Part Time</li>
                                    <li class="freelance">Freelance</li>
                                </ul>
                                <div class="price">$22 - $23 <span>/Per Hour</span></div>
                            </div>
                            <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="pagination-area">
                            <div class="nav-links">
                                <a routerLink="/job-listings" class="prev page-numbers"><i class="ri-arrow-left-s-line"></i></a>
                                <span class="page-numbers current">1</span>
                                <a routerLink="/job-listings" class="page-numbers">2</a>
                                <a routerLink="/job-listings" class="page-numbers">3</a>
                                <a routerLink="/job-listings" class="page-numbers">4</a>
                                <a routerLink="/job-listings" class="next page-numbers"><i class="ri-arrow-right-s-line"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->