.job-card {
  padding: 30px;
  position: relative;
  border-radius: 10px;
  margin-bottom: 25px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background-color: var(--whiteColor);
}

.job-card .content {
  position: relative;
  padding-left: 90px;
}

.job-card .content .job-image {
  position: absolute;
  width: 70px;
  left: 0;
  top: 0;
}

.job-card .content .job-image a {
  display: block;
}

.job-card .content .job-image a img {
  border-radius: 50%;
  width: 70px;
}

.job-card .content h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.job-card .content .job-list1 {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

.job-card .content .job-list1 li {
  position: relative;
  padding-left: 22px;
  display: inline-block;
  color: var(--paragraphColor);
  margin-bottom: 10px;
  margin-right: 20px;
}

.job-card .content .job-list1 li i {
  top: 0;
  left: 0;
  position: absolute;
  color: var(--primaryColor);
}

.job-card .content .job-list1 li:last-child {
  margin-right: 0;
}

.job-card .content span {
  display: block;
  position: relative;
  padding-left: 22px;
  color: var(--paragraphColor);
}

.job-card .content span i {
  top: 0;
  left: 0;
  margin-top: -2px;
  position: absolute;
  color: var(--primaryColor);
}

.job-card .job-sub-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.job-card .job-sub-content .job-list2 {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

.job-card .job-sub-content .job-list2 li {
  display: inline-block;
  border-radius: 50px;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
  margin-bottom: 0;
}

.job-card .job-sub-content .job-list2 li.time {
  color: var(--primaryColor);
  background-color: #E5FAF5;
}

.job-card .job-sub-content .job-list2 li.freelance {
  color: #FF5B4A;
  background-color: #FFEFED;
}

.job-card .job-sub-content .job-list2 li.urgent {
  color: #C90000;
  background-color: #FAE5E5;
}

.job-card .job-sub-content .job-list2 li.internship {
  color: #FF4AA1;
  background-color: #FFEDF6;
}

.job-card .job-sub-content .job-list2 li:last-child {
  margin-right: 0;
}

.job-card .job-sub-content .price {
  font-size: 17px;
  font-weight: 500;
}

.job-card .job-sub-content .price span {
  color: var(--paragraphColor);
  font-weight: 400;
  font-size: 15px;
}

.job-card .bookmark-btn {
  top: 25px;
  right: 25px;
  width: 35px;
  border: none;
  height: 35px;
  outline: none;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  position: absolute;
  border-radius: 50px;
  display: inline-block;
  color: var(--paragraphColor);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background-color: transparent;
}

.job-card .bookmark-btn:hover {
  background-color: #f1f1f1;
}

.job-card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .job-card {
    padding: 15px;
  }
  .job-card .content {
    padding-left: 0;
  }
  .job-card .content .job-image {
    position: relative;
    margin-bottom: 15px;
  }
  .job-card .content h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .job-card .content .job-list1 li {
    padding-left: 20px;
    margin-bottom: 10px;
    margin-right: 15px;
  }
  .job-card .content span {
    padding-left: 20px;
  }
  .job-card .job-sub-content {
    display: block;
    margin-top: 12px;
  }
  .job-card .job-sub-content .job-list2 li {
    padding: 4px 12px;
    font-size: 13px;
  }
  .job-card .job-sub-content .price {
    margin-top: 12px;
    font-size: 15px;
  }
  .job-card .job-sub-content .price span {
    font-size: 13px;
  }
  .job-card .bookmark-btn {
    top: 15px;
    right: 15px;
  }
}

/* Min width 576px to Max width 767px */
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .job-card {
    padding: 20px;
  }
  .job-card .content {
    padding-left: 0;
  }
  .job-card .content .job-image {
    position: relative;
    margin-bottom: 15px;
  }
  .job-card .content h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .job-card .job-sub-content {
    display: block;
    margin-top: 15px;
  }
  .job-card .job-sub-content .job-list2 li {
    padding: 5px 15px;
    font-size: 13px;
  }
  .job-card .job-sub-content .price {
    font-size: 16px;
    margin-top: 15px;
  }
  .job-card .job-sub-content .price span {
    font-size: 14px;
  }
  .job-card .bookmark-btn {
    top: 20px;
    right: 20px;
  }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .job-card {
    padding: 25px;
  }
  .job-card .content {
    padding-left: 80px;
  }
  .job-card .content .job-image {
    width: 60px;
  }
  .job-card .content h3 {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .job-card .job-sub-content {
    margin-top: 20px;
    display: block;
  }
  .job-card .job-sub-content .price {
    margin-top: 15px;
  }
  .job-card .bookmark-btn {
    top: 20px;
    right: 20px;
  }
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .job-card .job-sub-content .job-list2 li {
    font-size: 13px;
  }
  .job-card .job-sub-content .price {
    font-size: 16px;
  }
  .job-card .job-sub-content .price span {
    font-size: 14px;
  }
}

/* Min width 1600px */
.job-card {
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.03) 0px 6px 24px 0px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.03) 0px 6px 24px 0px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px;
}

.company-details-desc .h1, .company-details-desc .h2, .company-details-desc .h3, .company-details-desc .h4, .company-details-desc .h5, .company-details-desc .h6, .company-details-desc h1, .company-details-desc h2, .company-details-desc h3, .company-details-desc h4, .company-details-desc h5, .company-details-desc h6 {
  margin-bottom: 12px;
}

.company-details-desc .h1:not(:first-child), .company-details-desc .h2:not(:first-child), .company-details-desc .h3:not(:first-child), .company-details-desc .h4:not(:first-child), .company-details-desc .h5:not(:first-child), .company-details-desc .h6:not(:first-child), .company-details-desc h1:not(:first-child), .company-details-desc h2:not(:first-child), .company-details-desc h3:not(:first-child), .company-details-desc h4:not(:first-child), .company-details-desc h5:not(:first-child), .company-details-desc h6:not(:first-child) {
  margin-top: 25px;
}

.company-details-desc p a {
  color: var(--primaryColor);
}

.company-details-desc p a:hover {
  text-decoration: underline;
}

.company-details-desc p strong {
  color: var(--blackColor);
}

.company-details-desc ul, .company-details-desc ol {
  margin-top: 20px;
  margin-bottom: 20px;
}

.company-details-desc ul li, .company-details-desc ol li {
  color: var(--paragraphColor);
  margin-bottom: 15px;
}

.company-details-desc ul li a, .company-details-desc ol li a {
  color: var(--primaryColor);
}

.company-details-desc ul li a:hover, .company-details-desc ol li a:hover {
  text-decoration: underline;
}

.company-details-desc ul li:last-child, .company-details-desc ol li:last-child {
  margin-bottom: 0;
}

.company-details-desc .counter-item {
  padding: 30px;
  text-align: center;
  background-color: #f8f8f8;
  margin-top: 10px;
  margin-bottom: 15px;
}

.company-details-desc .counter-item h3 {
  font-size: 35px;
  margin-bottom: 5px;
}

.company-details-desc .counter-item p {
  color: var(--secondaryColor);
}

.company-details-desc .image {
  margin-top: 15px;
  margin-bottom: 15px;
}

.company-details-sidebar {
  margin-left: 15px;
}

.company-details-sidebar .widget-item {
  padding: 30px;
  margin-bottom: 25px;
  background-color: #f8f8f8;
}

.company-details-sidebar .widget-item .job-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.company-details-sidebar .widget-item .job-company img {
  width: 60px;
  border-radius: 50%;
}

.company-details-sidebar .widget-item .job-company .title {
  margin-left: 15px;
}

.company-details-sidebar .widget-item .job-company .title h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

.company-details-sidebar .widget-item .job-company .title a {
  font-size: 15px;
  color: var(--secondaryColor);
}

.company-details-sidebar .widget-item .job-company .title a:hover {
  color: var(--primaryColor);
}

.company-details-sidebar .widget-item .features-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.company-details-sidebar .widget-item .features-list li {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
}

.company-details-sidebar .widget-item .features-list li span {
  display: block;
  margin-bottom: 2px;
  color: var(--paragraphColor);
  font-size: 14px;
  font-weight: normal;
}

.company-details-sidebar .widget-item .features-list li .social-link {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  margin-left: -4px;
  margin-bottom: 0;
  margin-top: 10px;
}

.company-details-sidebar .widget-item .features-list li .social-link li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0;
}

.company-details-sidebar .widget-item .features-list li .social-link li a {
  display: block;
  line-height: 1;
  font-size: 20px;
  color: var(--paragraphColor);
}

.company-details-sidebar .widget-item .features-list li .social-link li a:hover {
  color: var(--primaryColor);
}

.company-details-sidebar .widget-item .features-list li .social-link li:last-child {
  margin-right: 0;
}

.company-details-sidebar .widget-item .features-list li:last-child {
  margin-bottom: 0;
}

.company-details-sidebar .widget-item .default-btn {
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.company-details-sidebar .widget-item:last-child {
  margin-bottom: 0;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .company-details-desc ul, .company-details-desc ol {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .company-details-desc ul li, .company-details-desc ol li {
    margin-bottom: 12px;
  }
  .company-details-desc .counter-item {
    padding: 20px 15px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .company-details-desc .counter-item h3 {
    font-size: 28px;
    margin-bottom: 5px;
  }
  .company-details-desc .image {
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .company-details-sidebar {
    margin-left: 0;
    margin-top: 25px;
  }
  .company-details-sidebar .widget-item {
    padding: 20px;
  }
  .company-details-sidebar .widget-item .job-company {
    margin-bottom: 25px;
  }
  .company-details-sidebar .widget-item .job-company .title h4 {
    font-size: 18px;
  }
  .company-details-sidebar .widget-item .job-company .title a {
    font-size: 14px;
  }
  .company-details-sidebar .widget-item .features-list li {
    margin-bottom: 15px;
    font-size: 16px;
  }
  .company-details-sidebar .widget-item .features-list li span {
    font-size: 13px;
  }
  .company-details-sidebar .widget-item .features-list li:last-child {
    margin-bottom: 0;
  }
  .company-details-sidebar .widget-item .default-btn {
    margin-top: 15px;
  }
}

/* Min width 576px to Max width 767px */
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .company-details-sidebar {
    margin-left: 0;
    margin-top: 25px;
  }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .company-details-sidebar {
    margin-left: 0;
  }
  .company-details-sidebar .widget-item {
    padding: 25px;
  }
}

/* Min width 1200px to Max width 1399px */
/* Min width 1600px */
/*# sourceMappingURL=company-details-page.component.css.map */