<!-- Page Title -->
<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Company Details</h3>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>Company Details</li>
            </ul>
        </div>
    </div>
</div>

<!-- Company Details -->
<div class="company-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="company-details-desc">
                    <h4>About Company</h4>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim a erat sit vulputate elementum orci. Risus nec viverra ornare venenatis proin ac varius tristique ut. Vitae egestas tellus amet nulla cursus.ands Pellentesque placerat
                        maecenas egestas ullamcorper sed nunc. Vitae egestas tellus amet nulla something loss Pellentesque placerat maecenas egestas ullamcorper sed nunc.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim a erat sit vulputate elementum orci. Risus nec viverra ornare venenatis proin ac varius.</p> -->
                    
                    <!-- <textarea name="about" id="" class="form-control" cols="30" rows="10">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, magni temporibus laudantium unde hic voluptates ducimus laborum, id tempore in nostrum velit, debitis dolore necessitatibus at consectetur maxime quisquam sit?
                    </textarea> -->
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore dolorem quisquam, impedit dolor delectus explicabo nam cumque tempora laudantium! Nulla molestiae dicta consequuntur fugit voluptas dolore doloremque voluptate tempore, qui cumque iusto magni eum velit deserunt? Eaque perferendis aliquam suscipit facere incidunt consequuntur, error blanditiis?
                    </p>
                    <!-- <h4>Work Life Balance</h4> -->
                    <!-- <textarea name="about" id="" class="form-control" cols="30" rows="10">

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim a erat sit vulputate elementum orci. Risus nec viverra ornare venenatis proin ac varius tristique ut. Vitae egestas tellus amet nulla cursus.ands Pellentesque placerat
                        maecenas egestas ullamcorper sed nunc. Vitae egestas tellus amet nulla something loss Pellentesque placerat maecenas egestas ullamcorper sed nunc.</p>
                    <ul>
                        <li>You have at least 3 years’ experience working as a Product Designer.</li>
                        <li>You have experience using Sketch and InVision or Framer</li>
                        <li>You have some previous experience working in an agile environment – Think two-week sprints.
                        </li>
                        <li>You are familiar using Jira and Confluence in your workflow</li>
                    </ul>
                    </textarea> -->

                    <!-- <p>Lor em ipsum dolor sit amet consectetur adipisicing elit. Natus placeat hic voluptates error quis aliquid, debitis quasi minima cumque. Qui voluptatem similique aspernatur rem possimus odio, in explicabo nisi totam sapiente animi perferendis hic amet reprehenderit! Alias odio quidem architecto deleniti, neque eligendi dolor quo nemo temporibus excepturi similique obcaecati, nihil optio quis soluta culpa atque. Provident ipsa expedita assumenda sed et odit, omnis doloremque voluptatem quo possimus accusantium eos ex esse sequi, quos unde. Nulla voluptatem quis at molestiae ut vitae, est cum quidem facere dicta earum reiciendis aut facilis itaque magni amet, laborum adipisci, voluptas ipsa. Vitae, quidem?</p> -->
                    <br>
                    <h4>Achievement</h4>
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-6 col-md-4">
                            <div class="counter-item">
                                <h3>1400</h3>
                                <p>Employees</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-6 col-md-4">
                            <div class="counter-item">
                                <h3>113</h3>
                                <p>Award Totals</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12 col-md-4">
                            <div class="counter-item">
                                <h3>5M</h3>
                                <p>Million Follower</p>
                            </div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim a erat sit vulputate elementum orci. Risus nec viverra ornare venenatis proin ac varius tristique ut. Vitae egestas tellus amet nulla cursus in that. Pellentesque
                        placerat maecenas egestas ullamcorper sed sarinto.</p>
                    
                        <!-- <h4>Gallery</h4> -->
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 col-md-4">
                            <!-- <div class="image">
                                <img src="assets/images/blog/blog-img1.jpg" alt="blog-image">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4">
                            <div class="image">
                                <img src="assets/images/blog/blog-img2.jpg" alt="blog-image">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4">
                            <div class="image">
                                <img src="assets/images/blog/blog-img3.jpg" alt="blog-image">
                            </div> -->
                        </div>
                    </div>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim a erat sit vulputate elementum orci. Risus nec viverra ornare venenatis proin ac varius tristique ut. Vitae egestas tellus amet nulla cursus in that. Pellentesque
                        placerat maecenas egestas ullamcorper sed sarinto.</p> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="company-details-sidebar">
                    <div class="widget-item">
                        <div class="job-company">
                            <img src="assets/images/job/job1.jpg" alt="job-image">
                            <div class="title">
                                <h4>Technology IT</h4>
                                <a href="#">View website</a>
                            </div>
                        </div>
                        <ul class="features-list">
                            <li>
                                <span>Industry</span> Customer Service
                            </li>
                            <li>
                                <span>Company size</span> 178 employees
                            </li>
                            <li>
                                <span>Founded in</span> 2011
                            </li>
                            <li>
                                <span>Phone</span>
                                <a href="tel:(123)4567890">(123) 456 7890</a>
                            </li>
                            <li>
                                <span>Email</span>
                                <a href="tel:workfromhome.com">workfromhome.com</a>
                            </li>
                            <li>
                                <span>Location</span> Brooklyn, NY
                            </li>
                            <li>
                                <span>Website</span>
                                <a href="#" target="_blank">https://workfromhomem</a>
                            </li>
                            <li>
                                <span>Follow us</span>
                                <ul class="social-link">
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank">
                                            <i class="ri-facebook-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/" target="_blank">
                                            <i class="ri-instagram-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/" target="_blank">
                                            <i class="ri-twitter-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/" target="_blank">
                                            <i class="ri-linkedin-fill"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                        <div style="text-align: center;">
                            <a href="#/employer/my-profile/edit" class="default-btn p-3" style="border-radius: 50px;">Edit Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Jobs -->
<div class="jobs-area pb-75">
    <div class="container">
        <div class="section-title">
            <h2>Recent Jobs Posted</h2>
            <div class="bar ms-auto me-auto"></div>
            <p class="ms-auto me-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ex minus corrupti obcaecati consectetur nisi quod dolores nihil assumenda nemo!</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-6 col-md-6" *ngFor = "let rjob of recentJobsLimitArray">
                <div class="job-card">
                    <div class="content">
                        <div class="job-image" >
                            <a (click)="rJobidPass(rjob[1].id)" routerLink="/jobs/details">
                                <img src="assets/images/job/job1.jpg" alt="job-image">
                            </a>
                        </div>

                        <h3><a (click)="rJobidPass(rjob[1].id)" routerLink="/jobs/details">{{ rjob[1].job_title }}</a></h3>
                        <ul class="job-list1">
                            <li><i class="ri-briefcase-line"></i> {{rjob[1].career_level}}</li>
                            <li><i class="ri-time-line"></i> {{rjob[1].deadline}}</li>
                            <li><i class="ri-profile-line"></i> {{rjob[1].job_type}}</li>
                            <hr>
                            <li style="text-align:right;"><i class="ri-wallet-line"></i> {{rjob[1].salary_minimum}} - {{rjob[1].salary_maximum}} / {{rjob[1].salary_type}} </li>

                        </ul>
                        <!-- <span><i class="ri-map-pin-line"></i> 305 Hicks St Brooklyn, NY</span> -->
                    </div>
                    <!-- <div class="job-sub-content">
                        <ul class="job-list2">
                            <li class="time">Full Time</li>
                            <li class="freelance">Freelance</li>
                            <li class="urgent">Urgent</li>
                        </ul>
                        <div class="price">$150 - $180 <span>/Per Week</span></div>
                    </div>
                    <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button> -->
                </div>
            </div>
            <!-- <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="job-card">
                    <div class="content">
                        <div class="job-image">
                            <a routerLink="/job-details">
                                <img src="assets/images/job/job2.jpg" alt="job-image">
                            </a>
                        </div>
                        <h3><a routerLink="/job-details">Creative Director</a></h3>
                        <ul class="job-list1">
                            <li><i class="ri-briefcase-line"></i> Automotive Jobs</li>
                            <li><i class="ri-time-line"></i> 2 Hour Ago</li>
                        </ul>
                        <span><i class="ri-map-pin-line"></i> 105 San Antonio, TX</span>
                    </div>
                    <div class="job-sub-content">
                        <ul class="job-list2">
                            <li class="time">Full Time</li>
                            <li class="freelance">Freelance</li>
                        </ul>
                        <div class="price">$120 - $140 <span>/Per Week</span></div>
                    </div>
                    <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                </div>
            </div> -->
            <a href="#/jobs/posted" style="text-align: center;">Browse All Jobs Posted</a>
        </div>
    </div>
</div>