<!-- Page Title -->
<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Edit Company Details</h3>
            <ul>
                <li>
                    <a routerLink="/employer/my-profile">
                        My Account
                    </a>
                </li>
                <li>Edit Company Details</li>
            </ul>
        </div>
    </div>
</div>

<!-- Post A Job -->
<div class="post-a-job-area ptb-100">
    <div class="container">
        <!-- <button type="button" (click)="previewJob()" routerLink="/post-a-job/preview" class="default-btn mx-3">Preview</button> -->

        <div class="post-a-job-form">
            <form>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label>Company Name <span>*</span></label>
                            <input type="text" class="form-control" id="comp_name" value="" required>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label>About company <span>*</span></label>
                            <div class="NgxEditor__Wrapper">
                                <!-- <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
                                </ngx-editor-menu>
                                <ngx-editor [editor]="editor" [placeholder]="'Type here...'" id="description"></ngx-editor> -->
                           <textarea class="form-control"  style="height:300px;" id="comp_about" value = "" required></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label>Company achievements<span>*</span></label>
                            <div class="NgxEditor__Wrapper">
                                <!-- <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
                                </ngx-editor-menu>
                                <ngx-editor [editor]="editor" [placeholder]="'Type here...'" id="description"></ngx-editor> -->
                           <textarea class="form-control"  style="height:200px;" id="comp_about" value = "" required></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Company industry <span>*</span></label>
                            <!-- <div class="NgxEditor__Wrapper"> -->
                                <!-- <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
                                </ngx-editor-menu>
                                <ngx-editor [editor]="editor" [placeholder]="'Type here...'" id="description"></ngx-editor> -->
                           <input class="form-control" id="comp_industry" value = "" required>
                            <!-- </div> -->
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Company size (number of employees) <span>*</span></label>
                            <!-- <div class="NgxEditor__Wrapper"> -->
                                <!-- <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
                                </ngx-editor-menu>
                                <ngx-editor [editor]="editor" [placeholder]="'Type here...'" id="description"></ngx-editor> -->
                           <input class="form-control" id="comp_size" value = "" required>
                            <!-- </div> -->
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Founded in (only year)<span>*</span></label>
                            <!-- <div class="NgxEditor__Wrapper"> -->
                                <!-- <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
                                </ngx-editor-menu>
                                <ngx-editor [editor]="editor" [placeholder]="'Type here...'" id="description"></ngx-editor> -->
                           <input class="form-control" type="number" id="comp_founded" value = "" required>
                            <!-- </div> -->
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Phone number<span>*</span></label>
                            <!-- <div class="NgxEditor__Wrapper"> -->
                                <!-- <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
                                </ngx-editor-menu>
                                <ngx-editor [editor]="editor" [placeholder]="'Type here...'" id="description"></ngx-editor> -->
                           <input class="form-control" type="number" id="comp_phone" value = "" required>
                            <!-- </div> -->
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Official email<span>*</span></label>
                            <!-- <div class="NgxEditor__Wrapper"> -->
                                <!-- <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
                                </ngx-editor-menu>
                                <ngx-editor [editor]="editor" [placeholder]="'Type here...'" id="description"></ngx-editor> -->
                           <input class="form-control" type="email" id="comp_email" value = "" required>
                            <!-- </div> -->
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Headquarter location<span>*</span></label>
                            <!-- <div class="NgxEditor__Wrapper"> -->
                                <!-- <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
                                </ngx-editor-menu>
                                <ngx-editor [editor]="editor" [placeholder]="'Type here...'" id="description"></ngx-editor> -->
                           <input class="form-control" type="text" id="comp_hq" value = "" required>
                            <!-- </div> -->
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Official website<span>*</span></label>
                            <!-- <div class="NgxEditor__Wrapper"> -->
                                <!-- <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
                                </ngx-editor-menu>
                                <ngx-editor [editor]="editor" [placeholder]="'Type here...'" id="description"></ngx-editor> -->
                           <input class="form-control" type="text" id="comp_website" value = "" required>
                            <!-- </div> -->
                        </div>
                    </div>

                    <!-- <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Category <span>*</span></label>
                            <select class="form-select" id="category_id" required>
                                
                                <option selected *ngIf="previewObjValCheck" value="{{previewObj.category_id}}"> {{previewObj.category_id}} </option>
                                <hr>
                                <option selected *ngIf="!previewObjValCheck" value="Accounting / Finance">Accounting / Finance</option>

                                <option value="Automotive Jobs">Automotive Jobs</option>
                                <option value="Customer Service">Customer Service</option>
                                <option value="Development">Development</option>
                                <option value="Health and Care">Health and Care</option>
                                <option value="Human Resource">Human Resource</option>
                                <option value="Marketing">Marketing</option>
                                <option value="Project Management">Project Management</option>
                            </select>
                        </div>
                    </div> -->
                    <!-- <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Type <span>*</span></label>
                            <select class="form-select" id="type_id" required>
                                <option selected *ngIf="previewObjValCheck" value="{{previewObj.type_id}}">{{previewObj.type_id}}</option>
                                <hr>
                                <option selected *ngIf="!previewObjValCheck" value="Freelance">Freelance</option>

                                <option value="Part Time">Part Time</option>
                                <option value="Full Time">Full Time</option>
                                <option value="Internship">Internship</option>
                                <option value="Moonlighter">Moonlighter</option>
                            </select>
                        </div>
                    </div> -->
                    <!-- <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Job Tags</label>
                            <input type="text" class="form-control" id="tags" value="{{previewObj.tags}}">
                        </div>
                    </div> -->
                    <!-- <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Gender <span>*</span></label>
                            <select class="form-select" id="gender" required>
                                <option selected *ngIf="previewObjValCheck" value="{{previewObj.gender}}">{{previewObj.gender}}</option>
                                <hr>
                                <option selected *ngIf="!previewObjValCheck" value="Both">Both (M/F)</option>

                                <option value="Female">Female</option>
                                <option value="Male">Male</option>
                            </select>
                        </div>
                    </div> -->
                    <!-- <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Job Apply Type <span>*</span></label>
                            <select class="form-select" id="">
                                <option selected>Internal</option>
                                <option value="1">External URL</option>
                                <option value="2">By Email</option>
                                <option value="3">Call To Apply</option>
                            </select>
                        </div>
                    </div> -->
                    <!-- <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Salary Type <span></span></label>
                            <select class="form-select" id="salary_type">
                                
                                <option selected *ngIf="previewObjValCheck" value="{{previewObj.salary_type}}">{{previewObj.salary_type}}</option>
                                <hr>
                                <option selected value="Monthly" *ngIf="!previewObjValCheck">Monthly</option>
                                
                                <option value="Yearly">Yearly</option>
                                <option value="Weekly">Weekly</option>
                                <option value="Daily">Daily</option>
                                <option value="Hourly">Hourly</option>
                                <option value="Task basis">Task Basis</option>
                            </select>
                        </div>
                    </div> -->
                    <!-- <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Min. Salary <span></span></label>
                            <input type="text" class="form-control" id="minimum_salary" value="{{previewObj.minimum_salary}}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Max. Salary <span></span></label>
                            <input type="text" class="form-control" id="maximum_salary" value="{{previewObj.maximum_salary}}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Experience <span>*</span></label>
                            <select class="form-select" id="experience" required>

                                <option selected *ngIf="previewObjValCheck" value="{{previewObj.experience}}">{{previewObj.experience}}</option>
                                <hr>
                                <option selected *ngIf="!previewObjValCheck" value="Fresh">Fresher</option>
                                
                                <option value="1">1 Year</option>
                                <option value="2">2 Year</option>
                                <option value="3">3 Year</option>
                                <option value="4">4 Year</option>
                                <option value="5">5 Year</option>
                                <option value="6">6 Year</option>
                                <option value="7">7 Year</option>
                            </select>
                        </div>
                    </div> -->
                    <!-- <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Career Level <span>*</span></label>
                            <select class="form-select" id="career_level" value = "sd" required>
                                <option selected *ngIf="previewObjValCheck" value="{{previewObj.career_level}}">{{previewObj.career_level}}</option>
                                <hr>
                                <option selected *ngIf="!previewObjValCheck" value="Manager">Manager</option>
                                
                                <option value="Officer">Officer</option>
                                <option value="Student">Student</option>
                                <option value="Executive">Executive</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                    </div> -->
                    <!-- <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Qualification <span>*</span></label>
                            <select class="form-select" id="qualification" required>
                                
                                <option selected *ngIf="previewObjValCheck" value="{{previewObj.qualification}}">{{previewObj.qualification}}</option>
                                <hr>
                                <option selected *ngIf="!previewObjValCheck" value="Certification">Certification</option>
                                
                                <option value="Associate Degree">Associate Degree</option>
                                <option value="Bachelor Degree">Bachelor Degree</option>
                                <option value="Master Degree">Master Degree</option>
                                <option value="Doctorate Degree">Doctorate Degree</option>

                            </select>
                        </div>
                    </div> -->
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Introduction Video URL </label>
                            <input type="text" class="form-control" id="introduction_video_url" value="">
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Facebook profile </label>
                            <input type="text" class="form-control" id="comp_fb" value="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Twitter profile </label>
                            <input type="text" class="form-control" id="comp_tweet" value="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Linkedin profile </label>
                            <input type="text" class="form-control" id="comp_linkedin" value="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Instagram profile </label>
                            <input type="text" class="form-control" id="comp_insta" value="">
                        </div>
                    </div>

                    <!-- <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Application Deadline Date <span>*</span></label>
                            <input type="date" class="form-control" id="deadline" value = "{{previewObj.deadline}}" required>
                        </div>
                    </div> -->

                    <!-- <div class="col-lg-6 col-md-6" style="display: none;">
                        <div class="form-group">
                            <label>Address <span>*</span></label>
                            <input type="text" class="form-control" id="friendly_address" required>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6" style="display: none;">
                        <div class="form-group">
                            <label>Location <span>*</span></label>
                            <select class="form-select" id="location">
                                <option selected>London</option>
                                <option value="1">Los Angeles</option>
                                <option value="2">New York</option>
                                <option value="3">Miami</option>
                                <option value="4">Paris</option>
                            </select>
                            <input type="text" class="form-control" id="location" required>

                        </div>
                    </div> -->
                    <!-- <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label>Featured Image <span>*</span></label>
                            <input type="file" id="img" name="img" accept="image/*">
                            <p>Maximum file size: 2 MB</p>
                        </div>
                    </div> -->
                    <div class="col-lg-12 col-md-12">
                        <!-- <button type="button" (click)="createJob()" class="default-btn">Post Job</button> -->
                        <button type="button" routerLink="/post-a-job/preview" class="default-btn mx-3">Preview</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>