<!-- Page Title -->
<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>My Profile</h3>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>My Details</li>
            </ul>
        </div>
    </div>
</div>

<!-- Candidate Details -->
<div class="candidate-details-area pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="mb-3 d-flex align-items-center"> 

                <i style="color: green; font-size: 30px; margin-left:0px;"class="ri-arrow-left-line"></i> 
                <a  style="text-align: center; margin-right: 200px; font-size: large;"routerLink="/candidate/my-profile/edit">Go Back and Edit</a>
                <!-- <a  style="text-align: center;"routerLink="/post-a-job" class="default-btn mx-2 p-2">Submit</a> -->
            </div>
    
            <div class="col-lg-3 col-md-12">
                <div class="candidate-details-sidebar">
                    <div class="profile">
                        <img src="assets\images\users\default.png" class="main-image" alt="candidates-image">
                        <div class="title">
                            <h3>{{objToArray[0][1].name}}</h3>
                            <!-- <img src="assets/images/flags/switzerland.svg" alt="flag"> -->
                        </div>
                        <p style="text-transform: capitalize;">{{previewObjCandidate.role}}</p>
                        <!-- <div class="rating">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                        </div> -->
                        <ul class="social-icon">
                            <li>
                                <a href="{{objToArray[0][1].facebook}}" target="_blank" *ngIf="facebookImg">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{objToArray[0][1].instagram}}" target="_blank" *ngIf="instaImg">
                                    <i class="ri-instagram-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{objToArray[0][1].twitter}}" target="_blank" *ngIf="twitterImg">
                                    <i class="ri-twitter-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{objToArray[0][1].linkedin}}" target="_blank" *ngIf="linkedinImg">
                                    <i class="ri-linkedin-fill"></i>
                                </a>
                            </li>
                            
                            <li>
                                <a href="{{objToArray[0][1].behance}}" target="_blank" *ngIf="behanceImg">
                                    <i class="ri-behance-line"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="info">
                        <h3>Contact Info</h3>
                        <ul>
                            <li>
                                <span>Location</span>
                                <a style="text-transform: capitalize;" target="_blank">{{previewObjCandidate.location}}</a>
                            </li>
                            <li>
                                <span>Email</span>
                                <a href="mailto:{{objToArray[0][1].email}}">{{objToArray[0][1].email_id}}</a>
                            </li>
                            <li>
                                <span>Phone</span>
                                <a href="tel:{{objToArray[0][1].mobile_number}}">{{objToArray[0][1].mobile_number}}</a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="download-resume">
                        <h3>Download Resume</h3>
                        <a href="javascript:void(0)" class="download-btn">PDF Formate CV <i class="ri-file-download-line"></i></a>
                    </div>
                </div>
                <div class="mb-3 d-flex align-items-center"> 

                    <i style="color: green; font-size: 30px; margin-left:0px;"class="ri-arrow-left-line"></i> 
                    <a  style="text-align: center; margin-right: 0px; font-size: large;"routerLink="/candidate/my-profile/edit">Go Back and Edit</a>
                    <!-- <a  style="text-align: center;"routerLink="/post-a-job" class="default-btn mx-2 p-2">Submit</a> -->
                    
                </div>
                <div>
                    <button type="button" class="default-btn p-2">Submit</button>
                </div>


            </div>
            <div class="col-lg-9 col-md-12">
                <div class="candidate-details-desc">
                    <h3>About {{objToArray[0][1].name}}</h3>
                    <div class="bar"></div>
                    <p style="text-transform: capitalize;">{{previewObjCandidate.headline}}</p>
                    <p>{{previewObjCandidate.about_me}}</p>
                    <hr>
                    <h3>Work Experience</h3>
                    <div class="bar"></div>
                    <ul class="experience-list">
                        <li>
                            <!-- <img src="assets/images/job/job1.jpg" alt="job-image"> -->
                            <h3>Product Designer</h3>
                            <span>Coding Agency</span>
                            <ul>
                                <li><i class="ri-time-line"></i> Jun 2017 - April 2020 - 3 years</li>
                                <li><i class="ri-map-pin-line"></i> New York, USA</li>
                            </ul>
                        </li>
                        <li>
                            <!-- <img src="assets/images/job/job2.jpg" alt="job-image"> -->
                            <h3>Sr. UI/UX Designer</h3>
                            <span>99 Coding</span>
                            <ul>
                                <li><i class="ri-time-line"></i> Jun 2019 - April 2021 - 2 Years</li>
                                <li><i class="ri-map-pin-line"></i> San Antonio, TX</li>
                            </ul>
                        </li>
                    </ul>
                    <hr>
                    <h3>Skills</h3>
                    <div class="bar"></div>
                    <ul class="candidate-skills">
                        <li style="text-transform: capitalize;" *ngFor="let skill of previewObjCandidate.skills">{{skill}}</li>
                       
                    </ul>
                    <hr>
                    <h3>Education & Training</h3>
                    <div class="bar"></div>
                    <ul class="candidate-education">
                        <li>
                            <!-- <img src="assets/images/icon1.jpg" alt="job-image"> -->
                            <h3>Bachelor in Software Engineering</h3>
                            <span>Harvard University</span>
                            <ul>
                                <li><i class="ri-time-line"></i> Jun 2016 - April 2020 - 4 Years</li>
                                <li><i class="ri-map-pin-line"></i> Brylin, USA</li>
                            </ul>
                        </li>
                        <li>
                            <!-- <img src="assets/images/icon2.jpg" alt="job-image"> -->
                            <h3>Masters in Art Design</h3>
                            <span>Harvard University</span>
                            <ul>
                                <li><i class="ri-time-line"></i> Jun 2020 - April 2021 - 1 Years</li>
                                <li><i class="ri-map-pin-line"></i> Brylin, USA</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
      
        </div>
    </div>
</div>