<!-- Page Title -->
<div class="inner-banner" style="padding-bottom: 20px; padding-top: 160px">
    <div class="container-fluid">
        <div class="inner-title text-center">
            <!-- <h3>Hello, Mr. Black</h3> -->
            <!-- <h3 class="mb-5 mt-0">Your Profile Summary</h3> -->
            <!-- <br> -->
            <!-- <br> -->

            <!-- <div class="col-lg-2 col-3 col-md-2">
                <div class="counter-item">
                    <h3>140</h3>
                    <p style="font-size: large;">Total Jobs Posted</p>
                </div>
            </div> -->
            <!-- <hr>
            <br>
            <br> -->
            <!-- <div class="container-fluid m-2 p-2" style="text-align: center; margin: auto;">
                    <div class="row">

                    <div class=" col-2 col-md-2">
                        <div class="job-card p-2">
                            <h4>{{empDasharraySize}}</h4>
                            <p style="font-size: 16px">Active Jobs</p>
                        </div>
                    </div>

                    <div class=" col-2 col-md-2">
                        <div class="job-card p-2">
                            <h4>5</h4>
                            <p style="font-size: 16px">New Applications</p>
                        </div>
                    </div>

                    <div class=" col-2 col-md-2">
                        <div class="job-card p-2">
                            <h4 class="">5</h4>
                            <p class="" style="font-size: 16px">Candidates to be reviewed</p>
                        </div>
                    </div>

                    <div class=" col-2 col-md-3">
                        <div class="job-card p-2">
                            <h4>5</h4>
                            <p style="font-size: 16px">Shortlisted candidates to be interviewed</p>
                        </div>
                    </div>

                    <div class=" col-2 col-md-3"    >
                        <div class="job-card p-2">
                            <h4>5</h4>
                            <p>Interviews today</p>
                        </div>
                    </div>
                    
                </div>
            </div> -->
            <!-- <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>Company Details</li>
            </ul> -->
            <div class="col-12 col-md-12 col-lg-12">
                <div
                    class="col-10 col-md-10 col-lg-10 justify-content"
                    style="margin-left: 50%; transform: translateX(-50%)"
                >
                    <div class="job-card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-5">
                                    <h4 class="card-title" id="greetings"></h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <h2>{{empDasharraySize}}</h2>
                                    <p>Active Jobs</p>
                                </div>
                                <div class="col-3 border-success border-right">
                                    <h2>07</h2>
                                    <p>New Applications</p>
                                </div>
                                <div class="col-3 border-success border-right">
                                    <h2>07</h2>
                                    <p>Total Interviews Scheduled</p>
                                </div>
                                <div class="col-3">
                                    <h2>07</h2>
                                    <p>Interviews Scheduled for today</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Company Details -->
<div
    class="company-details-area ptb-100"
    style="padding-top: 0px; margin-top: 0px"
>
    <!-- <div class="container"> -->
    <!-- <div class="row"> -->
    <!-- <div class="col-lg-12 col-md-12"> -->
    <!-- <div class="company-details-desc"> -->
    <!-- <h4>About Our Company</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim a erat sit vulputate elementum orci. Risus nec viverra ornare venenatis proin ac varius tristique ut. Vitae egestas tellus amet nulla cursus.ands Pellentesque placerat
                        maecenas egestas ullamcorper sed nunc. Vitae egestas tellus amet nulla something loss Pellentesque placerat maecenas egestas ullamcorper sed nunc.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim a erat sit vulputate elementum orci. Risus nec viverra ornare venenatis proin ac varius.</p>
                    <h4>Overview</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim a erat sit vulputate elementum orci. Risus nec viverra ornare venenatis proin ac varius tristique ut. Vitae egestas tellus amet nulla cursus.ands Pellentesque placerat
                        maecenas egestas ullamcorper sed nunc. Vitae egestas tellus amet nulla something loss Pellentesque placerat maecenas egestas ullamcorper sed nunc.</p>
                    <ul>
                        <li>You have at least 3 years’ experience working as a Product Designer.</li>
                        <li>You have experience using Sketch and InVision or Framer</li>
                        <li>You have some previous experience working in an agile environment – Think two-week sprints.
                        </li>
                        <li>You are familiar using Jira and Confluence in your workflow</li>
                    </ul> -->

    <!-- <h4 class="mb-5">Job Posting Details</h4> -->
    <!-- <div class="row"> -->
    <!-- <div class="col-lg-2 col-3 col-md-2">
                            <div class="counter-item">
                                <h3>140</h3>
                                <p style="font-size: large">
                                    Total Jobs Posted
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-3 col-md-2">
                            <div class="counter-item">
                                <h3>11</h3>
                                <p style="font-size: large">Some data-2</p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-3 col-md-2">
                            <div class="counter-item">
                                <h3>5</h3>
                                <p style="font-size: large">Some data-3</p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-3 col-md-2">
                            <div class="counter-item">
                                <h3>5</h3>
                                <p style="font-size: large">Some data-3</p>
                            </div>
                        </div> -->
    <!-- <div class="col-lg-4 col-12 col-md-4">
                            <div class="counter-item">
                                <h3>5</h3>
                                <p style="font-size: large;">Some data-3</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12 col-md-4">
                            <div class="counter-item">
                                <h3>5</h3>
                                <p style="font-size: large;">Some data-3</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12 col-md-4">
                            <div class="counter-item">
                                <h3>5</h3>
                                <p style="font-size: large;">Some data-3</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12 col-md-4">
                            <div class="counter-item">
                                <h3>5</h3>
                                <p style="font-size: large;">Some data-3</p>
                            </div>
                        </div> -->

    <!-- <div class="col-lg-4 col-12 col-md-4">
                            <div class="counter-item">
                                <h3>5</h3>
                                <p style="font-size: large;">Some data-3</p>
                            </div>
                        </div> -->
    <!-- </div> -->
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim a erat sit vulputate elementum orci. Risus nec viverra ornare venenatis proin ac varius tristique ut. Vitae egestas tellus amet nulla cursus in that. Pellentesque
                        placerat maecenas egestas ullamcorper sed sarinto.</p> -->

    <!-- <h4>Our Gallery</h4>
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 col-md-4">
                            <div class="image">
                                <img src="assets/images/blog/blog-img1.jpg" alt="blog-image">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4">
                            <div class="image">
                                <img src="assets/images/blog/blog-img2.jpg" alt="blog-image">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4">
                            <div class="image">
                                <img src="assets/images/blog/blog-img3.jpg" alt="blog-image">
                            </div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim a erat sit vulputate elementum orci. Risus nec viverra ornare venenatis proin ac varius tristique ut. Vitae egestas tellus amet nulla cursus in that. Pellentesque
                        placerat maecenas egestas ullamcorper sed sarinto.</p> -->
    <!-- </div> -->
    <!-- </div> -->

    <!-- <div class="col-lg-4 col-md-12">
                <div class="company-details-sidebar mt-5">
                    <div class="mb-5">
                        <h4>Personal Details</h4>
                    </div>

                    <div class="widget-item">
                        
                        <div class="job-company">
                            <img src="assets/images/job/job1.jpg" alt="job-image">
                            <div class="title">
                                <h4 class="m-0 p-0">Allan Black</h4>
                                <p style="color: gray;" class="mt-0">#201900189</p>
                                <p style="color: orange;">Technical Recruiter</p> 
                            </div>
                        </div>
                        <ul class="features-list">
                            <li>
                                <span>Designation</span> Technical Recruiter
                            </li>
                            <li>
                                <span>Recruting For</span> ABC Techno Solutions
                            </li>
                            <li>
                                <span>Founded in</span> 2011
                            </li>
                            <li>
                                <span>Phone</span>
                                <a href="tel:(123)4567890">(123) 456 7890</a>
                            </li>
                            <li>
                                <span>Email</span>
                                <a href="mailto: allanblack@abctechno.com">allanblack@abctechno.com</a>
                            </li> 
                            <li>
                                <span>Location</span> Brooklyn, NY
                            </li>
                            <li>
                                <span>Company Website</span>
                                <a href="#" target="_blank">https://abctechnosol</a>
                            </li>

                            <li>
                                <span>Company Media Handles</span>
                                <ul class="social-link">
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank">
                                            <i class="ri-facebook-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/" target="_blank">
                                            <i class="ri-instagram-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/" target="_blank">
                                            <i class="ri-twitter-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/" target="_blank">
                                            <i class="ri-linkedin-fill"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <a href="#" class="default-btn">View Your Profile</a>
                    </div>
                </div>
            </div>
        
        </div> -->
    <!-- </div> -->
    <!-- </div> -->

    <!-- <div class="container mb-5">
<div style="text-align: center;">
    <a href="#" class="default-btn p-3">Show Important Graphs</a>
    <button (click)="onClick()" type="button" class="p-3">Show Important Graphs</button>

    <p style="font-size: 55px; text-align: center;">...</p>
    <div id="imp_graphs" class="container">
    <p id="demo"></p>
        <canvas id="lineChart"></canvas>

    </div>
</div>
</div> -->

    <!-- recent job published -->

    <div class="container">
        <div class="mb-4 mt-5">
            <h4>Recent Jobs Posted</h4>
        </div>
        <div class="row">
            <div class="col-lg-8 col-sm-6 col-md-6">
                <div class="job-card" *ngFor="let empjob of empDashLimitArray" style="padding-bottom: 2px;">
                    <div class="content">
                        <div class="job-image">
                            <a
                                (click)="empidPass(empjob[1].id)"
                                routerLink="/jobs/applicants"
                            >
                                <img
                                    src="assets/images/job/job1.jpg"
                                    alt="job-image"
                                />
                            </a>
                        </div>
                        <h3>
                            <a
                                (click)="empidPass(empjob[1].id)"
                                routerLink="/jobs/applicants"
                                >{{ empjob[1].job_title }}</a
                            >
                        </h3>

                        <ul class="job-list1" style="font-size: medium">
                            <li>
                                <i class="ri-briefcase-line"></i>
                                {{ empjob[1].career_level }}
                            </li>
                            <li>
                                <i class="ri-time-line"></i>
                                {{ empjob[1].deadline }}
                            </li>
                            <li>
                                <i class="ri-award-line"></i>
                                {{ empjob[1].experience }} Years
                            </li>

                            <!-- <li><i class="ri-arrow-right-s-fill"></i> {{empjob[1].qualification}}</li> -->
                            <li>
                                <i class="ri-profile-line"></i>
                                {{ empjob[1].job_type }}
                            </li>
                            <!-- <li><i class="ri-arrow-right-s-fill"></i> {{empjob[1].allowed_genders}} </li> -->

                            <li>
                                <i class="ri-medal-2-line"></i>
                                {{ empjob[1].job_category }}
                            </li>
                            <li>
                                <i class="ri-video-line"></i>
                                <a href="{{ empjob[1].introduction_video_url }}"
                                    >Video Url</a
                                >
                            </li>
                            <li>
                                <i class="ri-hashtag"></i>
                                {{ empjob[1].job_tags }}
                            </li>
                            <!-- <li><i class="ri-map-pin-line"></i> {{empjob[1].office_address}}, {{empjob[1].location}}</li> -->
                            <hr />

                            <!-- <li><i class="ri-pencil-line"></i></li> -->
                            <li>
                                <!-- <div class="container-fluid">
                                
                                <div class="row">
                                    
                                    <div class="col-lg-10 col-sm-10 col-md-10" style="text-align: left;">
                                        <li> <i class="ri-wallet-line"></i> {{empjob[1].salary_minimum}} - {{empjob[1].salary_maximum}} / {{empjob[1].salary_type}} </li>
                                    </div>

                                    <div class="col-lg-2 col-sm-2 col-md-2">
                                        <li><i class="ri-pencil-line"></i> Edit</li>
                                    </div>
                                        
                                </div>

                            </div> -->

                                <div
                                    class="d-md-flex align-items-center justify-content-end"
                                >
                                    <li style="margin-right: 400px">
                                        <i class="ri-wallet-line"></i>
                                        {{ empjob[1].salary_minimum }} -
                                        {{ empjob[1].salary_maximum }} /
                                        {{ empjob[1].salary_type }}
                                    </li>
                                    <a
                                        (click)="empidPass(empjob[1].id)"
                                        routerLink="/jobs/edit"
                                    >
                                        <li>
                                            <i class="ri-pencil-line"></i>Edit
                                        </li></a
                                    >
                                </div>

                                <!-- <div class="d-md-flex align-items-center justify-content-end">
                                <li><i class="ri-pencil-line"></i> Edit</li>
                                <li><i class="ri-pencil-line"></i> Edit</li>
                            </div> -->
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="job-sub-content">
                    <ul class="job-list2">
                        <li class="time">Full Time</li>
                        <li class="freelance">Freelance</li>
                        <li class="urgent">Urgent</li>
                    </ul>
                    <div class="price">$150 - $180 <span>/Per Week</span></div>
                </div>
                <button class="bookmark-btn">
                    <i class="ri-bookmark-line"></i>
                </button> -->
                </div>
                <a routerLink="/jobs/posted"
                    ><div
                        style="
                            font-size: larger;
                            font-style: italic;
                            font-weight: 500;
                        "
                    >
                        See All jobs posted
                    </div></a
                >
                <!-- </div>
            <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="job-card">
                <div class="content">
                    <div class="job-image">
                        <a routerLink="/jobs/details">
                            <img
                                src="assets/images/job/job2.jpg"
                                alt="job-image"
                            />
                        </a>
                    </div>
                    <h3><a routerLink="/jobs/details">Creative Director</a></h3>
                    <ul class="job-list1">
                        <li>
                            <i class="ri-briefcase-line"></i> Automotive Jobs
                        </li>
                        <li><i class="ri-time-line"></i> 2 Hour Ago</li>
                    </ul>
                    <span
                        ><i class="ri-map-pin-line"></i> 105 San Antonio,
                        TX</span
                    >
                </div>
                <div class="job-sub-content">
                    <ul class="job-list2">
                        <li class="time">Full Time</li>
                        <li class="freelance">Freelance</li>
                    </ul>
                    <div class="price">$120 - $140 <span>/Per Week</span></div>
                </div>
                <button class="bookmark-btn">
                    <i class="ri-bookmark-line"></i>
                </button>
            </div>
            </div> -->
            </div>
            <!-- <div class="col-lg-4 col-md-12 m-0"> -->
                <!-- <div class="company-details-sidebar"> -->
                    <!-- <h4 class="mb-5 mt-0">Personal Details</h4> -->

                    <!-- <div class="widget-item rounded"> -->
                        <!-- <div>Other Important Stats</div> -->
                        <!--                     
                    <div class="job-company">
                        <img src="assets/images/job/job1.jpg" alt="job-image">
                        <div class="title">
                            <h4 class="m-0 p-0">Allan Black</h4>
                            <p style="color: gray;" class="mt-0">#201900189</p>
                            <p style="color: orange;">Technical Recruiter</p> 
                        </div>
                    </div>
                    <ul class="features-list">
                        <li>
                            <span>Designation</span> Technical Recruiter
                        </li>
                        <li>
                            <span>Recruting For</span> ABC Techno Solutions
                        </li>
                        <li>
                            <span>Founded in</span> 2011
                        </li>

                        <li>
                            <span>Phone</span>
                            <a href="tel:(123)4567890">(123) 456 7890</a>
                        </li>
                        
                        <li>
                            <span>Email</span>
                            <a href="mailto: allanblack@abctechno.com">allanblack@abctechno.com</a>
                        </li> 
                        
                        <li>
                            <span>Company HQ</span> Brooklyn, NY
                        </li>
                        
                        <li>
                            <span>Company Website</span>
                            <a href="#" target="_blank">https://abctechnosol</a>
                        </li>

                        <li>
                            <span>Company Media Handles</span>
                            <ul class="social-link">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="ri-instagram-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <a href="#" class="default-btn">View Your Profile</a>
                </div> -->
                    <!-- </div> -->
                <!-- </div> -->
            <!-- </div> -->

            <!-- <canvas id="lineChart"></canvas> -->

            <!-- Jobs -->
          
        </div>
    </div>
</div>
