<footer class="footer-area">
    <div class="container">
        <div class="pt-100 pb-75">
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-5 col-sm-12 col-md-6">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a routerLink="/">
                                <img src="assets/images/logo.png" alt="logo">
                            </a>
                        </div>
                        <ul class="footer-contact-list">
                            <li>
                                <i class="ri-map-pin-line"></i>
                                <a href="https://goo.gl/maps/9FreR1rVLxe5HgHB7" target="_blank">
                                    Shop No. 2-A, Shri Ganesh CHS, Next to Sansakar College (DTSS College), OFF Western Express Highway, Malad (East), Mumbai - 400097
                                </a>
                            </li>
                            <li>
                                <i class="ri-mail-line"></i>
                                <a href="mailto:care@workfromhome.world">care@workfromhome.world</a>
                            </li>
                            <!-- <li>
                                <i class="ri-phone-line"></i>
                                <a href="tel:+4471234567890">+44 4325 9878 5875</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-sm-6 col-md-6">
                    <div class="footer-widget">
                        <h3>For Employer</h3>
                        <ul class="footer-list">
                            <li>
                                <a routerLink="/candidates">
                                    Browse Candidates
                                </a>
                            </li>
                            <li>
                                <a routerLink="/employer/my-dashboard">
                                    Employer Dashboard
                                </a>
                            </li>
                            <li>
                                <a routerLink="/jobs/listings">
                                    Job Packages
                                </a>
                            </li>
                            <li>
                                <a routerLink="/jobs/listings">
                                    Jobs Featured 
                                </a>
                            </li>
                            <li>
                                <a routerLink="/post-a-job">
                                    Post A Job
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 col-md-4">
                    <div class="footer-widget ps-5">
                        <h3>For Candidates</h3>
                        <ul class="footer-list">
                            <li>
                                <a routerLink="/jobs/listings">
                                    Browse Jobs
                                </a>
                            </li>
                            <li>
                                <a routerLink="/">
                                    Submit Resume
                                </a>
                            </li>
                            <li>
                                <a routerLink="/candidate/my-dashboard">
                                    Candidate Dashboard
                                </a>
                            </li>
                            <li>
                                <a routerLink="/jobs/listings">
                                    Browse Categories
                                </a>
                            </li>
                            <li>
                                <a routerLink="/candidates">
                                    Candidates Listing
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 col-md-4">
                    <div class="footer-widget">
                        <h3>Company</h3>
                        <ul class="footer-list">
                            <li>
                                <a routerLink="/about">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a routerLink="/contact">
                                    Contact Us
                                </a>
                            </li>
                            <li>
                                <a routerLink="/terms-condition">
                                    Terms & Conditions      
                                </a>
                            </li>
                            <li>
                                <a routerLink="/privacy-policy">
                                    Privacy Policy 
                                </a>
                            </li>
                            <li>
                                <a routerLink="/">
                                    Sitemap
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 col-md-4">
                    <div class="footer-widget">
                        <h3>Quick Links</h3>
                        <ul class="footer-list">
                            <li>
                                <a routerLink="/about">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a routerLink="/blog">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a routerLink="/faq">
                                    FAQs
                                </a>
                            </li>
                            <li>
                                <a routerLink="/contact">
                                    Contact Us
                                </a>
                            </li>
                            <li>
                                <a routerLink="/not-found">
                                    404 Erro Page
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7">
                    <div class="copy-right-text">
                        <p>2022 © Work From Home </p>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-5">
                    <div class="copy-right-social-link mx-3">
                        <ul class="social-link">
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="ri-facebook-fill" style="font-size: x-large;"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="ri-instagram-fill" style="font-size: x-large;"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class="ri-twitter-fill" style="font-size: x-large;"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="ri-linkedin-fill" style="font-size: x-large;"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>