<!-- Page Title -->
<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Post a New Job</h3>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>Create a New Job Listing</li>
            </ul>
        </div>
    </div>
</div>

<!-- Post A Job -->
<div class="post-a-job-area ptb-100">
    <div class="container">
        <div class="post-a-job-form">
            <form>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label>Job Title <span>*</span></label>
                            <input type="text" class="form-control" id="title" value = "{{empDashArray[0][1].job_title}}" required>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label>Job Description <span>*</span></label>
                            <div class="NgxEditor__Wrapper">
                                <!-- <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
                                </ngx-editor-menu>
                                <ngx-editor [editor]="editor" [placeholder]="'Type here...'" id="description"></ngx-editor> -->
                           <textarea class="form-control"  style="height:300px;" id="description" value = "{{empDashArray[0][1].job_description}}" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Category <span>*</span></label>
                            <select class="form-select" id="category_id" required>
                                
                                <option selected>{{empDashArray[0][1].job_category}}</option>

                                <option value="Automotive Jobs">Automotive Jobs</option>
                                <option value="Customer Service">Customer Service</option>
                                <option value="Development">Development</option>
                                <option value="Health and Care">Health and Care</option>
                                <option value="Human Resource">Human Resource</option>
                                <option value="Marketing">Marketing</option>
                                <option value="Project Management">Project Management</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Type <span>*</span></label>
                            <select class="form-select" id="type_id" required>
                                <option selected>{{empDashArray[0][1].job_type}}</option>
                                <option value="Full Time">Full Time</option>
                                <option value="Internship">Internship</option>
                                <option value="Part Time">Part Time</option>
                                <option value="Temporary">Temporary</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Tag</label>
                            <input type="text" class="form-control" id="tags" value = "{{empDashArray[0][1].job_tags}}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Gender <span>*</span></label>
                            <select class="form-select" id="gender" required>
                                <option selected>{{empDashArray[0][1].allowed_genders}}</option>
                                <option value="Female">Female</option>
                                <option value="Male">Male</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Job Apply Type <span>*</span></label>
                            <select class="form-select" id="">
                                <option selected>Internal</option>
                                <option value="1">External URL</option>
                                <option value="2">By Email</option>
                                <option value="3">Call To Apply</option>
                            </select>
                        </div>
                    </div> -->
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Salary Type <span></span></label>
                            <select class="form-select" id="salary_type">
                                <option selected>{{empDashArray[0][1].salary_type}}</option>
                                <option value="Weekly">Weekly</option>
                                <option value="Daily">Daily</option>
                                <option value="Hourly">Hourly</option>
                                <option value="Yearly">Yearly</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group" id="minimum_salary">
                            <label>Min. Salary <span></span></label>
                            <input type="text" class="form-control" id="minimum_salary" value = "{{empDashArray[0][1].salary_minimum}}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Max. Salary <span></span></label>
                            <input type="text" class="form-control" id="maximum_salary" value="{{empDashArray[0][1].salary_maximum}}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Experience <span>*</span></label>
                            <select class="form-select" id="experience" required>
                                <option selected>{{empDashArray[0][1].experience}}</option>
                                <option value="1">1 Year</option>
                                <option value="2">2 Year</option>
                                <option value="3">3 Year</option>
                                <option value="4">4 Year</option>
                                <option value="5">5 Year</option>
                                <option value="6">6 Year</option>
                                <option value="7">7 Year</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Career Level <span>*</span></label>
                            <select class="form-select" id="career_level" required>
                                <option selected>{{empDashArray[0][1].career_level}}</option>
                                <option value="Officer">Officer</option>
                                <option value="Student">Student</option>
                                <option value="Executive">Executive</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Qualification <span>*</span></label>
                            <select class="form-select" id="qualification" required>
                                <option selected>{{empDashArray[0][1].qualification}}</option>
                                <option value="Associate Degree">Associate Degree</option>
                                <option value="Bachelor Degree">Bachelor Degree</option>
                                <option value="Master Degree">Master Degree</option>
                                <option value="Doctorate Degree">Doctorate Degree</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Introduction Video URL </label>
                            <input type="text" class="form-control" id="introduction_video_url" value="{{empDashArray[0][1].introduction_video_url}}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Application Deadline Date <span>*</span></label>
                            <input type="date" class="form-control" id="deadline" value = "{{empDashArray[0][1].deadline}}" required>
                        </div>
                    </div>

                    <!-- <div class="col-lg-6 col-md-6" style="display: none;">
                        <div class="form-group">
                            <label>Address <span>*</span></label>
                            <input type="text" class="form-control" id="friendly_address" required>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6" style="display: none;">
                        <div class="form-group">
                            <label>Location <span>*</span></label>
                            <select class="form-select" id="location">
                                <option selected>London</option>
                                <option value="1">Los Angeles</option>
                                <option value="2">New York</option>
                                <option value="3">Miami</option>
                                <option value="4">Paris</option>
                            </select>
                            <input type="text" class="form-control" id="location" required>

                        </div>
                    </div> -->
                    <!-- <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label>Featured Image <span>*</span></label>
                            <input type="file" id="img" name="img" accept="image/*">
                            <p>Maximum file size: 2 MB</p>
                        </div>
                    </div> -->
                    <div class="col-lg-12 col-md-12">
                        <button type="button" (click)="previewJob()" routerLink="/post-a-job/preview" class="default-btn">Preview</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>