<!-- Page Title -->
<div class="inner-banner">

    <div class="container">
        <div class="job-card" style="font-size: 95%;">
            <div class="job-image">
                <img src="assets/images/candidates/candidate1.jpg" alt="job-image">
            </div>
            <h2>{{objToArray[0][1].name}}</h2>
            <!-- <span class="location">by <a routerLink="/">Python Developer</a> in Brooklyn, NY</span> -->
            <ul class="job-sub-content">

                <a href=""><img src="assets/images/facebook.png" alt="" width="35" *ngIf="facebookImg" style="padding: 5px"></a>
                <a href=""><img src="assets/images/linkedin.png" alt="" width="35" *ngIf="linkedinImg" style="padding: 5px"></a>
                <a href=""><img src="assets/images/instagram.png" alt="" width="35" *ngIf="instaImg" style="padding: 5px"></a>
                <a href=""><img src="assets/images/behance.png" alt="" width="35" *ngIf="behanceImg" style="padding: 5px"></a>
                <a href=""><img src="assets/images/twitter.png" alt="" width="35" *ngIf="twitterImg" style="padding: 5px"></a>

                <!-- <li class="freelance">Freelance</li>
                <li class="urgent">Urgent</li> -->

            </ul>
            <div class="d-md-flex align-items-center justify-content-between">
                <a href="mailto:{{objToArray[0][1].email_id}}">
                    <div class="last-date">{{objToArray[0][1].email_id}}</div>
                </a><br>
                <a href="tel:{{objToArray[0][1].mobile_number}}">
                    <div class="last-date">{{objToArray[0][1].mobile_number}}</div>
                </a><br>

                <a routerLink="/candidate/my-profile" class="default-btn">View My Profile</a>
            </div>
            <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
        </div>
    </div>

    <div class="container mt-5 mb-1" style="text-align: center;">
        <h3>Job Application Stats</h3>
    </div>
    <div class="container mt-3 p-0">
        <div class="job-card p-3" style="font-size: larger;">
            <!-- <table class="table table-hover caption-top">
                <caption>Job Application Stats</caption>

                <thead>
                  <tr>
                    <th scope="col">Sr.No</th>
                    <th scope="col">Selected <span> (3) </span> </th>
                    <th scope="col">Not-Selected <span> (1) </span> </th>
                    <th scope="col">In-Touch <span> (5) </span> </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table> -->




            <ol class="list-group list-grou">
                <div class="dropdown">

                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">

                            <div class="fw-bold">Applied</div>

                        </div>
                        <span class="badge bg-primary rounded-pill">14</span>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">

                            <div class="fw-bold">In-Touch</div>

                           
                        </div>
                        <span class="badge bg-primary rounded-pill">14</span>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">

                            <div class="fw-bold">Shortlisted</div>

                           
                        </div>
                        <span class="badge bg-primary rounded-pill">14</span>

                    </li>
                </div>

<!-- 
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">In-Touch</div>
                        Content for list item
                    </div>
                    <span class="badge bg-primary rounded-pill">14</span>
                </li>


                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Not-Selected</div>
                        Content for list item
                    </div>
                    <span class="badge bg-primary rounded-pill">14</span>
                </li> -->
            </ol>



        </div>
    </div>




</div>



<h3 style="text-align: center;" class="mt-5">Your Applications</h3>

<div class="row p-5">

    <div class="col-lg-12 col-sm-6 col-md-6">

        <div class="job-card " *ngFor="let ad of finalArray">
            <div class="content">

                <div class="job-image">
                    <a (click)="idPass(ad.id)" routerLink="/jobs/details">
                        <img src="assets/images/job/job1.jpg" alt="job-image">
                    </a>
                </div>
                <div class="px-5">
                    <h4 class=""><a (click)="idPass(ad.id)" routerLink="/jobs/details">{{ad.job_title}}</a></h4>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4 dot-inTouch"></div>
                            <div class="col-sm-8"><strong>Intouch</strong></div>
                        </div>
                    </div>
                    <!-- <span class="dot-success mt-4"></span> -->
                    <!-- <div class="mt-0 mx-1"> <strong>Selected</strong> </div> -->
                    <br>

                    <!-- <div style="font-size:20px">
                        <ul class="job-list1">
                            <li><i class=""></i> Product Design Job</li>
                            <li><i class=""></i> Applied On -
                                <span class="date_of_appy">10 Dec 2022</span>
                            </li>
                        </ul>
                    </div> -->

                    <!-- <ul class="job-list1" style="font-size: medium;">

                        <li><i class="ri-briefcase-line"></i> {{ad.career_level}}</li>
                        <li><i class="ri-time-line"></i> {{ad.deadline}}</li>
                        <li><i class="ri-award-line"></i> {{ad.experience}} Years</li>
                    
                        <li><i class="ri-profile-line"></i> {{ad.ad_type}} </li>
                    
                        <li><i class="ri-medal-2-line"></i> {{ad.ad_category}} </li>
                        <li><i class="ri-video-line"></i> <a href="{{ad.introduction_video_url}}">Video Url</a> </li>
                        <li><i class="ri-hashtag"></i> {{ad.job_tags}} </li>
                        <li style="text-align:right;"><i class="ri-wallet-line"></i> {{ad.salary_minimum}} - {{ad.salary_maximum}} / {{ad.salary_type}} </li>
                        
                       
                    
                    </ul>        -->

                    <ul class="list-group list-group-flush" style="font-size: large;">
                        <li  class="list-group-item" style="cursor: default;" onMouseOver="this.style.color='#00CA99'" onMouseOut="this.style.color='Black'"><i class="ri-briefcase-line"></i> {{ad.career_level}}</li>
                        <li class="list-group-item" style="cursor: default;" onMouseOver="this.style.color='#00CA99'" onMouseOut="this.style.color='Black'"><i class="ri-profile-line"></i> {{ad.job_type}} </li>
                        <li class="list-group-item" style="cursor: default;" onMouseOver="this.style.color='#00CA99'" onMouseOut="this.style.color='Black'"><i class="ri-award-line"></i> {{ad.experience}} Years</li>
                        <li class="list-group-item" style="cursor: default;" onMouseOver="this.style.color='#00CA99'" onMouseOut="this.style.color='Black'"><i class="ri-wallet-line"></i> {{ad.salary_minimum}} - {{ad.salary_maximum}} / {{ad.salary_type}} </li>
        
                        <!-- <li class="list-group-item">{{ jobToArray[0][1].job_title }}</li> -->
                        <!-- <li class="list-group-item">{{ jobToArray[0][1].job_title }}</li> -->
                    </ul>

                </div>

                <!-- <div class="ad-sub-content px-5">
                    <div class="job-list">
                        <a href="">
                            <li class="time" style="font-size:larger">Review Application</li>
                        </a>
                        <li class="freelance">Freelance</li>
                        <li class="urgent">Urgent</li>
                    </div>
                    <div class="price">$150 - $180 <span>/Per Week</span></div>
                </div> -->

                <!-- <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button> -->
            </div>
        </div>


        <!-- <div class="job-card mt-5"> -->
        <!-- Jobs Details -->
        <!-- <div class="job-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="job-details-desc">
                    <h4>About Me:</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim a erat sit vulputate <strong>elementum</strong>. Risus nec viverra ornare venenatis proin ac varius tristique ut. Vitae egestas tellus amet nulla cursus ands placerat
                        maecenas egestas <a routerLink="/">ullamcorper</a> sed nunc. Vitae egestas tellus amet nulla something loss pellentesque placerat maecenas egestas ullamcorper sed nunc.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim a erat sit vulputate elementum orci. Risus nec viverra ornare <strong>venenatis</strong> proin ac varius ut. Vitae egestas tellus amet nulla cursus in that. Pellentesque
                        placerat maecenas egestas ullamcorper sed sarinto.</p>
                    <h4>Responsabilities</h4>
                    <ul>
                        <li>Capable to handle subordinates leading, monitoring, and reporting to the management.</li>
                        <li>70% work time for marketing & sales.</li>
                        <li>Energetic in search for new projects, and new channels to get sales orders.</li>
                        <li>30% work time for project support and implementation.</li>
                        <li>The candidate must have good computer literacy. (Microsoft Office Application)</li>
                        <li>Satisfactory communications skills in English.</li>
                        <li>Good manner, appearance, polite & capable of customer handling.</li>
                        <li>Communication through e-mail, Fax, and other communication tools.</li>
                        <li>Report to manager/ management.</li>
                        <li>Other activities & tasks when required by the Manager/Management.</li>
                    </ul>
                    <h4>Requirements</h4>
                    <ul>
                        <li>Bachelor of Business Administration (BBA), Bachelor in Engineering (BEngg) in BSc Engineering (Electrical/Mechanical)</li>
                        <li>From any public/ reputed private University/ College.</li>
                        <li>Skills Required: Have good knowlede on using Microsoft Office</li>
                        <li>Age 30 to 35 years</li>
                        <li>Only males are allowed to apply</li>
                        <li>7 to 10 years (s)</li>
                    </ul>
                    <h4>Skills</h4>
                    <ul>
                        <li>Programming experience developing web applications with the Microsoft .NET stack and a basic knowledge of SQL</li>
                        <li>Development experience with Angular, Node.JS, or ColdFusion</li>
                        <li>HTML, CSS, XHTML, XML</li>
                        <li>Hypervisors, SAN’s, load balancers, firewalls, and Web Application Firewall (WAF)</li>
                        <li>Experience with Higher Logic (a collaboration platform)</li>
                        <li>MongoDB, Drupal</li>
                        <li>Mobile App Development (iOS and Android)</li>
                        <li>Episerver CMS</li>
                        <li>Microsoft Team Foundation Server</li>
                        <li>Speaker Management System (Planstone)</li>
                    </ul>
                    <div class="btn-box">
                        <a routerLink="/profile-authentication" class="default-btn">Apply Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="job-details-sidebar">
                    <div class="widget-item">
                        <ul class="features-list">
                            <li>
                                <span>Experience</span> Min 1 year
                            </li>
                            <li>
                                <span>Work Level</span> Entry-Level
                            </li>
                            <li>
                                <span>Employment Type</span> Part Time
                            </li>
                            <li>
                                <span>Salary</span> 20k-40k / year
                            </li>
                        </ul>
                    </div>
                    <div class="widget-item">
                        <div class="job-company">
                            <img src="assets/images/job/job1.jpg" alt="job-image">
                            <div class="title">
                                <h4>Technology IT</h4>
                                <a href="#">View profile</a>
                            </div>
                        </div>
                        <ul class="features-list">
                            <li>
                                <span>Industry</span> Customer Service
                            </li>
                            <li>
                                <span>Company size</span> 178 employees
                            </li>
                            <li>
                                <span>Founded in</span> 2011
                            </li>
                            <li>
                                <span>Phone</span>
                                <a href="tel:(123)4567890">(123) 456 7890</a>
                            </li>
                            <li>
                                <span>Email</span>
                                <a href="tel:workfromhome.com">workfromhome.com</a>
                            </li>
                            <li>
                                <span>Location</span> Brooklyn, NY
                            </li>
                            <li>
                                <span>Website</span>
                                <a href="#" target="_blank">https://workfromhomecom</a>
                            </li>
                            <li>
                                <span>Follow us</span>
                                <ul class="social-link">
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank">
                                            <i class="ri-facebook-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/" target="_blank">
                                            <i class="ri-instagram-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/" target="_blank">
                                            <i class="ri-twitter-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/" target="_blank">
                                            <i class="ri-linkedin-fill"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->